body {
  background-color: #000000;
}

.topbar {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: aliceblue;
  padding: 0 16px;
}

.topbar-left {
  width: 169px;
  height: 56px;
  display: flex;
  align-items: center;
}

.logo {
  height: 20px;
  width: 93px;
}

.menu {
  height: 40px;
  width: 40px;
  padding: 8px;
}

.menu-bar {
  height: 24px;
  width: 24px;
}

.topbar-center {
  width: 700px;
  height: 40px;
  display: flex;
}

.topbar-right {
  height: 40px;
}
